# Xcode
DerivedData/
build/
*.xcworkspace
!default.xcworkspace
xcuserdata/
*.xcuserstate

# Swift Package Manager
.build/
Packages/
Package.resolved

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Environment / secrets
*.env

# macOS
.DS_Store

# Logs
*.log